.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.center-layout {
    width: 100%;
    max-width: 820px;
    padding: 15px;
    margin: auto;
}

.center-cards {
    width: 100%;
    max-width: 922px;
    padding: 15px;
    margin: auto;
}

.border-round-custom{
    border-radius: 25px;
}

.border-round-customtext{
    border-radius: 10px;
}

