{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="{% static 'dist/css/bootstrap.css' %}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{% static 'sigma-style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<title>Prueba de desarrollo Sigma</title>
</head>

<body>
	<div class="center-layout text-center">
		<img class="py-3" src="https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-logo.png">
		<h2 class="roboto-bold py-3">Prueba de desarrollo Sigma</h2>
		<p class="roboto-gray py-3">
			Lorem ipsum is simply dummy text of the printing and the typesettig industry. Lorem ipsum has been the
			industry's standard dummy text ever since 1500s, when an unknown printer took a galley of type and scrambled
			it to make a type specimen book.
		</p>
	</div>
	<div class="center-cards">
		<div class="row">
			<div class="col-sm-6">
				<img src="https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-image.png" width="100%">
			</div>
			<div class="col-sm-6">
				<div class="card shadow border-0 border-round-custom p-4">
					<div class="card-body">
						<form method="POST" action="#">
							{% csrf_token %}
							<label for="departamento" class="mt-3 roboto-bold">Departamento:*</label>
							<select type="text" class="mb-3 roboto form-control border-round-customtext"
								id="departamento" name="state" required>
								<option value="">-- Seleccionar -- </option>
							</select>
							<label for="ciudad" class="roboto-bold">Ciudad:*</label>
							<select type="text" class="mb-3 roboto form-control border-round-customtext" id="ciudad"
								name="city" required>
								<option value="">-- Selecciona un departamento-- </option>
							</select>
							<label for="nombre" class="roboto-bold">Nombre:*</label>
							<input type="text" class="mb-3 roboto form-control border-round-customtext" id="nombre"
								placeholder="Pepito De Jesus" name="name" required>
							<label for="correo" class="roboto-bold">Correo:*</label>
							<input type="text" class="mb-3 roboto form-control border-round-customtext" id="correo"
								placeholder="Pepitodejesus@gmail.com" name="email" required>
							<div class="text-center">
								<input type="submit"
									class="px-4 py-2 mb-3 btn btn-primary roboto-bold border-round-custom"
									value="ENVIAR" data-toggle="modal" data-target="#exampleModal">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Modal -->
	{% if messages%}
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" >
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Enviado Correctamente</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span >&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'sigma-script.js' %}"></script>
</body>

</html>