.roboto {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: medium;
    font-weight: 400;
}

.roboto-gray {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 95%;
    line-height: 1.2;
    font-weight: 500;
}

.form-control::placeholder {
    color: #C2C2C2;
}

.roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.center-layout {
    width: 100%;
    max-width: 750px;
    padding: 15px;
    margin: auto;
}

.center-cards {
    width: 100%;
    max-width: 922px;
    padding: 15px;
    margin: auto;
}

.border-round-custom{
    border-radius: 25px;
}

.border-round-customtext{
    border-radius: 10px;
}

